@for $i from 1 through 50 {
  @if $i % 5 == 0 {
    .pt-#{$i} {
      padding-top: #{$i}px;
    }

    .pb-#{$i} {
      padding-bottom: #{$i}px;
    }

    .pl-#{$i} {
      padding-left: #{$i}px;
    }

    .pr-#{$i} {
      padding-right: #{$i}px;
    }
  }
}