<?xml version="1.0" encoding="utf-8" ?>
<phpunit colors="true" strict="true" bootstrap="../vendor/autoload.php" beStrictAboutTestsThatDoNotTestAnything="true">
    <testsuites>
        <testsuite name="APP tests">
            <directory>./src</directory>
        </testsuite>
    </testsuites>
</phpunit>